__pycache__

# data folder
*.pickle
*.h5
*.zip
ydata-anno.rar
summe_video_features_version_2.rar
tvsum_video_features_version_2.rar

# analyze folder
analyze/visualize_data/
frames/

# evaluation folder
evaluation/

# inference folder
inference/pretrained_models/
inference/best_models/
inference/new_model/

# results' folders
results/
Training_Results/
paper_final_results/

.ipynb_checkpoints

# temp file
*temp*
*.pt
*.pem
