__pycache__

# data folder
*.pickle
*.h5
*.zip
ydata-anno.rar

# analyze folder
visualize_data/
frames/

# evaluation folder
evaluation/

# inference folder
inference/pretrained_models/
inference/best_models/

# results' folders
results/
Training_Results/
paper_final_results/

.ipynb_checkpoints
